* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
body {
  font-size: 62.5%;
}
.listadoProductos > h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.listadoProductos {
  margin: 1rem 2rem 2rem;
}
.listadoProductos li {
  list-style: none;
  font-size: 1.8rem;
}
